<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="code with favour">
    <meta name="keywords" content="FavApps,FavCode54,FavResume,FavCode54-Time-Table">
    <meta property="og:url"                content="http://favcode54.org/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="FavApps" />
    <meta property="og:description"        content="All App in on place" />
    <meta property="og:image"              content="http://res.cloudinary.com/dus4sijdt/image/upload/v1524984191/x3_j9y6qw.png" />
	<title>Favworld</title>
	<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="materialize/style.css">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
</head>
<body class="bg-color">
 <div class="navbar-fixed space-down"> <!-- start of  navbar -->
<nav class="bg-color">
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo"><img src="https://favcode54.org/images/favcode54-logo-white2.png"  width="38%" alt="logo"></a>
	</div>
</nav>
</div> <!--end of nav -->

<main>

 <div class="container">
 	<div class="row">
 		<div class="col l4 s6 m4">
 			<a href="#" >
 			<div class="frame tooltipped  uk-animation-scale-up  uk-inline-clip uk-transition-toggle" data-position="bottom" data-tooltip="FireBrain" tabindex="0">
 				<img src="images/fire.png" alt="firebrain" class="responsive-img">
 				<img class="uk-transition-slide-up uk-position-cover" src="images/firec.png" alt="">
 			</div>
 		</a>
 		 
 		</div>
          

          <div class="col l4 s6 m4">
          	<a href="#">
 			<div class="frame tooltipped uk-animation-scale-up  uk-inline-clip uk-transition-toggle" data-position="bottom" data-tooltip="FavCode54" tabindex="0">
 				<img src="images/favcode.png" alt="firebrain" class="responsive-img">
 				<img class="uk-transition-slide-bottom uk-position-cover" src="images/favcodec.png" alt="">
 			</div>
 		</a>
 		</div>

 		<div class="col l4 s6 m4">
 			<a href="#">
 			<div class="frame tooltipped uk-animation-scale-up uk-inline-clip uk-transition-toggle" data-position="bottom" data-tooltip="FavReaders"  tabindex="0">
 			<img src="images/read.png" alt="read" class="responsive-img">
 			<img class="uk-transition-slide-up uk-position-cover" src="images/readc.png" alt="">
 			</div>
 		   </a>
 		</div>


     
     <div class="col l4 s6 m4">
     	<a href="#">
 			<div class="frame tooltipped uk-animation-scale-up uk-inline-clip uk-transition-toggle" data-position="bottom" data-tooltip="FavResume" tabindex="0">
 				<img src="images/resume.png" alt="resume" class="responsive-img">
 				<img class="uk-transition-slide-bottom uk-position-cover" src="images/resumec.png" alt="">
 			</div>
 		</a>
 		</div>


   <div class="col l4 s6 m4">
   	<a href="#">
 			<div class="frame tooltipped uk-animation-scale-up uk-inline-clip uk-transition-toggle" data-position="bottom" data-tooltip="FavCode54-Time-Table" tabindex="0">
 				<img src="images/timetable.png" alt="timetable	" class="responsive-img">
 				<img class="uk-transition-slide-up uk-position-cover" src="images/timetablec.png" alt="">
 			</div>
 		</a>
 		</div>



   <div class="col l4 s6 m4">
   	<a href="#">
 			<div class="frame tooltipped uk-animation-scale-up  uk-inline-clip uk-transition-toggle" data-position="bottom" data-tooltip="Host9ja" tabindex="0">
 				<img src="images/host9ja.png" alt="host9ja" class="responsive-img">
 				<img class="uk-transition-slide-bottom uk-position-cover" src="images/host9jac.png" alt="">
 			</div>
 		</a>
 		</div>

 	</div>
 </div>	


</main>








<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script >
	  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
      


   
     $('.frame').bind('click',function(){
     	var answer = confirm("Are you sure you want to do that?"); 
    		if (answer == true) {   window.open("http://oreilly.com", "namedWindow"); } 
    		else {   alert("You decided against"); }
     }) 

</script>
</body>
</html>