<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="code with favour">
    <meta name="keywords" content="Tech job,developers resume,best resume app,favcode54,favresume,favcode54,learn to code for free">
    <meta property="og:url"                content="http://favresume.favcode54.org/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="FavResume" />
    <meta property="og:description"        content="Get that dream job with the perfect resume" />
    <meta property="og:image"              content="http://res.cloudinary.com/dus4sijdt/image/upload/v1524984191/x3_j9y6qw.png" />
	<title>Favworld</title>
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="materialize/style.css">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
</head>
<body>
 <div class="navbar-fixed"> <!-- start of  navbar -->
<nav class="bg-color">
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo"><img src="https://favcode54.org/images/favcode54-logo-white2.png"  width="38%" alt="logo"></a>
		<ul class="right">
			<li ><a href="#service-box" id="push"  uk-scroll="2000">Services</a></li>
		</ul>
	</div>
</nav>
</div> <!--end of nav -->

<main>
	<div class="slider"><!--START  OF SLIDE -->
		<ul class="slides">
			 <li>
			 	<img src="https://spark.adobe.com/page/P3o1v4QViu8A0/embed.jpg?buster=1525191679854" alt="FavCode54" class="responsive-img" />
			 </li>


                <li>
			  	<img src="https://spark.adobe.com/page/9rsQo0w0XLGgz/embed.jpg?buster=1525257586919" alt="FavResume"  class="responsive-img" />
			  </li>

			  <li>
			  <img src="https://spark.adobe.com/page/l3PtU37YavK5J/embed.jpg?buster=1525192421568" alt="FireBrain" class="responsive-img" />
			 </li>

			  <li>
			  <img src="https://spark.adobe.com/page/peCjsztI4KChK/embed.jpg?buster=1525203969666" alt="FavPath" class="responsive-img" /></a>
			 </li>

			  <li>
		       <img src="https://spark.adobe.com/page/o7FZQJPncMiPW/embed.jpg?buster=1525204381834" alt="Host9ja" class="responsive-img" />
			 </li>


			 <li>
			  <img src="https://spark.adobe.com/page/62g6vmkXFSj0p/embed.jpg?buster=1525204735360" alt="FavReaders" class="responsive-img" />
			 </li>
		</ul>
     </div>  <!--END OF SLIDE -->
</main>








<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript">
	  $(document).ready(function(){
    $('.slider').slider({height:500});
  });
      
</script>
</body>
</html>