<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="code with favour">
    <meta name="keywords" content="Tech job,developers resume,best resume app,favcode54,favresume,favcode54,learn to code for free">
    <meta property="og:url"                content="http://favresume.favcode54.org/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="FavResume" />
    <meta property="og:description"        content="Get that dream job with the perfect resume" />
    <meta property="og:image"              content="http://res.cloudinary.com/dus4sijdt/image/upload/v1524984191/x3_j9y6qw.png" />
	<title>Favworld</title>
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="materialize/style.css">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
</head>
<body class="bg-color">



<main><!-- start of  main -->
 <div class="row">
 	<div class="col l6 m6 s12"><img src="images/tolu.png"  id="tolu" class="responsive-img"></div>
 	<div class="col l6 m6 s12 btn-core"">
 		<div class="block-inline top fadeout" >
            		 <a href="/home" class=" hoverable  waves-effect waves-light  orange-btn btn  btn-large " id="rent-btn">GET STARTED</a>

            	</div>
 	</div>
 </div>

</main><!-- end of  main -->


<footer>
	<!-- welcome audio -->
<audio id="myAudio">
  <source src="audio/tolu-welcome.ogg" type="audio/ogg">
  <source src="audio/tolu-welcome.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<!-- end of welcome audio -->
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

<script>


$(window).on('load',function() {

$('#myAudio').get(0).play() 
 
$('.fadeout').delay(4000).fadeIn(4000) 





})
</script>
</body>
</html>